@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=PT+Sans&family=Playfair+Display:wght@700&display=swap');

.navigation-main {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    background: none;

    .title {
        padding: 20px;
        font-family: 'Montserrat', sans-serif;
        color: black;
        font-size: 20px;
        text-transform: uppercase;
        margin-left: 15px;
    }

    ul {
        list-style: none;
        margin-top: 20px;
        margin-left: auto;
        order: 2;

        li {
            display: inline;
            padding: 25px;
            font-family: 'PT Sans', sans-serif;
            font-weight: 400;
            font-size: 12px;
            text-transform: uppercase;
            
            span {
                font-weight: 700;
                margin-left: 50px;
                font-size: 10px;
            }
        }
    }
}

.new-page {
    height: 100vh;

    h2 {
        text-align: center;
    }
}